
body { 
    background: url("bg3.jpg") no-repeat fixed center;
    background-size: 1920px 1080px; 
    height: 100px;
    
}


p {
    font-family: Bangna New;
    font-size: 50px;
    font-weight: bold;
    color: #A52A2A;
    text-align: center;
    
}

h1 {
font-family: Waffle Light ;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    

}

div.img {
    margin: 50px;
    border: 1px solid white;
    float: left;
    width: 220px;
}

div.img:hover {
    border: 1px solid black;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
    font-family: Waffle Light;
    font-size: 30px;
    color: #A52A2A;
    font-weight: bold;
    
    background-color: #FFA54F;
    
}


table, td, th {    
    border: 2px solid white;
    text-align: center;
    
    
}

table {
    border-collapse: collapse;
    width: 90%;
    background: #F5F5DC;
    
    
    
    
    
    
    
}

th, td {
    padding: 3px;
    
}

 .DayTime {
    background: #F5F5DC;
    font-family: Bangna New;
    font-size: 20px;
    color: black;
    border-bottom:1px solid white;
    padding: 5px;
    font-weight: bold;
    
    
     
}

.DayTimeLast {
    text-align: left;
    font-weight: bold;
    font-family: Bangna New;
}

.Learn {
background: #FFA54F;
font-family: Bangna New;


}














