
body { 
    background: url("bg1.jpg") no-repeat fixed center;
    background-size: 1920px 1080px; 
    height: 100px;
    
}


p {
    font-family: Bangna New;
    font-size: 50px;
    color: red;
    text-align: center;
    
}

h1 {
font-family: Waffle Light ;
    font-size: 50px;
    color: black;
    text-align: center;
    

}

div.img {
    margin: 50px;
    border: 1px solid white;
    float: left;
    width: 220px;
}

div.img:hover {
    border: 1px solid black;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
    font-family: Waffle Light;
    font-size: 30px;
    background-color:#FFFFFF ;
    
}


table, td, th {    
    border: 1px solid white;
    text-align: center;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    
}

th, td {
    padding: 1px;
}

 .DayTime {
    background: #1C1C1C;
    font-family: Bangna New;
    font-size: 20px;
    color: white;
    border-bottom:1px solid white;
     padding:3px;
}

.DayTimeLast {
    text-align: left;
}

.Monday {
background: white;

}

.Tuesday {
    background: white;
}

.WedDay {
    background: white;
}

.ThursDay{
    background: white;
}

.SatDay {

background: white;
}












